@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}

.nav-item {
  position: relative;
}

.nav-item a {
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 4px 10px;
  position: relative;
}

.nav-item a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.212);
  left: 110%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: skewX(13deg);
  transform: skewX(13deg);
}

.nav-item:hover a::before {
  width: 100%;
}
